<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wearos.ui">

    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:label="Driver Care"
        android:theme="@style/Theme.WearOS">

        <activity android:name="com.example.wearos.MainActivity">


        <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
